* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 1rem;
}

p {
    margin: 1rem;
}

button {
    margin: 0.5rem 1rem;
    padding: 0.3rem 1rem;
}