* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0.2rem 1rem;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
}

form {
    display: flex;
    flex-direction: column;
    width:20rem;
}

label {
    margin-top: 1rem;
}

button {
    background-color: #272727;
    color: white;
    border: none;
    padding: 0.5rem 0.6rem;
    width: 7rem;
    border-radius: 0.3rem;
    margin: 1rem 0;
}