@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@700&display=swap');
:root {
    --dark-blue-color: #000078;
    --light-blue-color: #73EDFF;
    --light-yellow-color: #FFE000;
    --dark-yellow-color: #d4c923;
    --dark-grey-color: #D0D0D0;
    --light-grey-color: #F0F0F0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', sefif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #0a0c64;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
}

.uoc-logo {
    width: 10rem;
}

#main-nav-menu {
    display: flex;
    list-style-type: none;
    height: 100%;
    align-items: center;
}

.main-nav-item {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1rem;
}

.main-nav-item.active {
    text-decoration: underline;
    text-decoration-color: var(--light-yellow-color);
}

.main-nav-item:hover {
    text-decoration: underline;
    text-decoration-color: var(--dark-yellow-color);
}

/* Main content */
section {
    padding: 4rem 10rem;
}

/* Sección con fondo blanco */

.light-section.first-section {
    display: flex;
    justify-content: space-between;
}

.section-cta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.section-cta > h1 {
    font-size: 1.2rem;
    font-weight: normal;
}

.section-cta > h2 {
    font-size: 3rem;
}

.cta-btn {
    width: 50%;
    background-color: var(--light-yellow-color);
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
}

.cta-btn:hover {
    background-color: var(--dark-yellow-color);
}

/* Sección con fondo gris */
.dark-section {
    background-color: var(--dark-grey-color);
}

.section-heading {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 2rem;
}

.data-row {
    display: flex;
    justify-content: space-around;
    transform: translateX(-2.3rem);
}

.data-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-number {
    font-size: 1.3rem;
    font-weight: 700;
}

/* Última sección */
.objectives-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.objectives-item {
    border: 1px solid var(--dark-grey-color);
    padding: 1.5rem 3rem;
    margin: 0.4rem;
    width: 55%;
}

/* Tabla de contenidos */
.repository-table {
    margin-top: 3rem;
    border-collapse: collapse;
    text-align: center;
}

.repository-head-row {
    border-top: 3px solid var(--dark-blue-color);
    font-size: 0.8rem;
}

.repository-head-cell {
    padding-bottom: 0.4rem;
}

.repository-head-cell > .fas {
    font-size: 1.5rem;
}

.repository-body-row:nth-child(even) {
    background-color: var(--light-grey-color);
    border-top: 3px solid var(--dark-blue-color);
}

.repository-body-row:nth-child(odd) {
    background-color: var(--dark-grey-color);
    border-top: 1px solid var(--dark-blue-color);
}

.repository-body-cell {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.repository-foot-cell {
    font-size: 0.8rem;
    padding: 0.7rem 0;
    border-bottom: 3px solid var(--dark-grey-color);
}

/* Formulario */
.form {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
}

.form-group {
    width: 45%;
    flex-direction: column;
    padding: 0.2rem 1rem 1.2rem 1rem;
}

.form-group, .form-radio-group {
    display: flex;
    border: 1px solid var(--dark-blue-color);
    border-radius: 0.6rem;
}

.form-radio-group {
    padding: 0.7rem 1rem;
    margin: 0.7rem 0 0 0;
}

.form-radio-group > div {
    margin: 0 1rem;
}

.form-radio-group > div > label {
    margin: 0 0.3rem;
}

.form-radio-group > legend {
    font-weight: 700;
}

.form-group > legend, .form-radio-group > legend {
    padding: 0 0.6rem;
}

.form-group > label, .form-radio-group > label {
    margin-top: 0.7rem;
    font-weight: 700;
}

.form-group > input, .form-group > textarea, .form-group > select {
    border: 1px solid var(--dark-blue-color);
    border-radius: 0.2rem;
    padding: 0.5rem 0.5rem;
}

.form-group > input[type=checkbox] {
    width: 5%;
}

.checkbox {
    margin-top: 2rem;
}

.form-btn {
    background-color: var(--dark-blue-color);
    color: var(--light-grey-color);
    margin-top: 2rem;
    height: 2.5rem;
}

/* Otros elementos */
.btn {
    border: none;
    padding: 0.7rem 1.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition-duration: 100ms;
}

.btn:hover {
    transform: translateY(-0.1rem);
}

.fas {
    font-size: 3rem;
    margin: 0.5rem 0;
}

.bold-span {
    font-weight: 700;
}

.large-title {
    font-size: 3rem;
}

/* Footer */
#page-footer {
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: var(--dark-grey-color);
    border-top: 3px solid var(--light-blue-color);
    padding: 2rem 0 5rem 0;
}

#page-footer > p {
    line-height: 2.5rem;
}