* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 15rem;
}

#resultado {
    font-weight: 700;
}

input[type="submit"] {
    align-self: center;
    margin: 1rem auto;
    padding: 0.7rem 1.7rem;
    width: 10rem;
    background-color: rgb(32, 32, 212);
    border: none;
    border-radius: 0.3rem;
    color: white;
}